{% extends 'base.html' %}
{% load static %}


<head>
	<meta class="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title></title>
	<link rel='stylesheet' href='css/style.min.css' />
</head>
{% block content  %}
<body>

	<!-- Hero unit -->
	<div class="page__header">
		<div class="hero__overlay hero__overlay--gradient"></div>
		<div class="hero__mask"></div>
		<div class="page__header__inner">
			<div class="container">
				<div class="page__header__content">
					<div class="page__header__content__inner" id='navConverter'>
						<h1 class="page__header__title">About us</h1>
						<p class="page__header__text">
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page content -->
	<div class="page">
		<div class="container">
				
				
						<h1>Who are we</h1>
					</p>Wilpal International Logistics Ltd is specialist worldwide air freight, sea freight and road freight services forwarding company, with the ability to offer air, <br> sea, road and rail logistics services to or from any accessible destination in the entire world
					Utilizing a combined wealth of over 10 years’ experience in the African market, <br/> we provide a door to door service to all major destinations via a carefully chosen network of independent approved suppliers and overseas partners.
					We pride ourselves on our approach to our customers which, combined with our commitment to client satisfaction, <br> allows us to deal with all sorts of people from the smallest of independent companies with overseas trade to major blue chip companies with the same personal touch.
					<!-- </div> -->
				</div>
				
			</div>
	

<script src='js/app.min.js'></script>
</body>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>

<div class="footer footer--dark">
	<div class="container">
		<div class="footer__inner">
			<a href="index.html" class="footer__textLogo">WilPal International Logistics</a>
			<div class="footer__data">
				<div class="footer__data__item">
					<div class="footer__row">
						Email &nbsp;&nbsp;&nbsp;<a href="mailto://info@wilpalinternationalogistics.comm" target="_blank" class="footer__link">info@wilpalinternationalogistics.com</a>
					</div>
					<div class="footer__row">
					Phone &nbsp;&nbsp;&nbsp; <a href="tel://+254 772 561415" target="_blank" class="footer__link">+254 772 561415</a>
					</div>
				</div>
				<div class="footer__data__item">
					<div class="footer__row">Wilpal Logistics is a company involved in <br> shipping all sorts of goods. Give us a try today!
					</div>
				</div>
				<div class="footer__data__item">
					<div class="footer__row">
						<a href="#" target="_blank" class="footer__link">LinkedIn</a>
					</div>
					<div class="footer__row">
						<a href="#" target="_blank" class="footer__link">Twitter</a>
					</div>
					<div class="footer__row">
						<a href="#" target="_blank" class="footer__link">Facebook</a>
					</div>
					<div class="footer__row">
						<a href="#" class="footer__link">Instagram</a>
					</div>
				</div>
		</div>
	</div>
</div>
</div>

<script>
	
</script>


<style>

.page__header{
	background-image: url('https://images.unsplash.com/photo-1519003722824-194d4455a60c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
}

.h1{
	float: left;
}
</style>
{% endblock %}
