{% extends 'base.html' %}
{% load static %}
{% block content  %}


<style>

@media(min-width:781px){
.grid1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
}
</style>
	<!-- <div class="grid mt-5 container">
		<br>
		<br>
		<h1>Who Are we</h1>
		<p>
				Wilpal International Logistics Ltd is specialist worldwide air freight, <br>
				sea freight and road freight services forwarding company, <br>
				 with the ability to offer air, sea, road and rail <br>
				logistics services to or from any accessible destination in the entire world. <br>
				We pride ourselves on our approach to our customers which, <br>
				 combined with our commitment to client satisfaction, <br>
				allows us to deal with all sorts of people from the smallest of independent <br>
				companies with overseas trade to major blue chip companies with the <br> same personal touch.
		</p> -->
		<div  class="mt-5">
			<div class="container" >
               <br> 				<br>  				<br>				<br>



			<h2 class=" mt-5 mb-2 text-center">About us</h2>
			<div class="grid1 p-2">
			
			  <div class="center-text my-auto">
			
								<p class="text-center"> Wilpal International Logistics Ltd is specialist worldwide air freight, <br>
									sea freight and road freight services forwarding company, <br>
									 with the ability to offer air, sea, road and rail <br>
									logistics services to or from any accessible destination in the entire world. <br>
									We pride ourselves on our approach to our customers which, <br>
									 combined with our commitment to client satisfaction, <br>
									allows us to deal with all sorts of people from the smallest of independent <br>
									companies with overseas trade to major blue chip companies with the <br> same personal touch.</p>
			  </div>
				<div>
								<img src="https://images.unsplash.com/photo-1543643723-19cc65407699?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="w-100 rounded z-depth-2">
			</div>
			</div>
			
			
			
			
			</div>
			</div>
{% endblock %}

