{% extends 'base.html' %}
{% load static %}
{% block content  %}
     
        <body>

        <div class="container">
                <div class="part1">
                <br>
                <br>
                <br>
                <br>
                <br>
  <strong><h1>For any ships transportation needs!</h1></strong> 
  <br>
  <br>
  <br>
  <button class="button">learn more</button>        
</div>
</div>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <div class="note">
        <div class="container">
                <div class="row">
                                <div class="col-sm-4">
                                    <div class="card card-flip h-100">
                                        <div class="card-front text-white bg-dark">
                                            <div class="card-body">
                                                <i class="fa fa-search fa-5x float-right"></i>
                                                <h3 class="card-title">Front</h3>
                                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            </div>
                                        </div>
                                        <div class="card-back bg-white">
                                            <div class="card-body">
                                                <h3 class="card-title">Back</h3>
                                                <p class="card-text">Suprise this one has more more more more content on the back!</p>
                                                <a href="#" class="btn btn-outline-secondary">Action</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card card-flip h-100">
                                        <div class="card-front text-white bg-warning">
                                            <div class="card-body">
                                                <i class="fa fa-search-plus fa-5x float-right"></i>
                                                <h3 class="card-title">Front</h3>
                                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            </div>
                                        </div>
                                        <div class="card-back bg-dark text-white">
                                            <div class="card-body">
                                                <h3 class="card-title">Back #2</h3>
                                                <p class="card-text">Suprise this one has content on the back!</p>
                                                <a href="#" class="btn btn-outline-secondary">Action</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card card-flip h-100">
                                        <div class="card-front text-white bg-primary">
                                            <div class="card-body">
                                                <i class="fa fa-arrow-circle-right fa-5x float-right"></i>
                                                <h3 class="card-title">Front</h3>
                                                <p class="card-text">With supporting text below as a natural lead-in to additional content. This one is a little because it has more text!</p>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                        <div class="card-back bg-white">
                                            <div class="card-body text-primary">
                                                <h3 class="card-title">Wow! #3</h3>
                                                <p class="card-text">Suprise this one has content on the back!</p>
                                                <a href="#" class="btn btn-outline-primary">Action</a>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                                <div class="col-sm-4 my-3">
                                    <div class="card card-flip h-100">
                                        <div class="card-front text-white bg-dark">
                                            <div class="card-body">
                                                <i class="fa fa-search fa-5x float-right"></i>
                                                <h3 class="card-title">Front</h3>
                                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                        <div class="card-back bg-white">
                                            <div class="card-body">
                                                <h3 class="card-title">Back</h3>
                                                <p class="card-text">Suprise this one has more more more more content on the back!</p>
                                                <a href="#" class="btn btn-outline-secondary">Action</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <br>

                                <div class="col-sm-4 my-3">
                                    <div class="card card-flip h-100">
                                        <div class="card-front text-white bg-danger">
                                            <div class="card-body">
                                                <i class="fa fa-search fa-5x float-right"></i>
                                                <h3 class="card-title">Front</h3>
                                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            </div>
                                        </div>
                                        <div class="card-back bg-white">
                                            <div class="card-body">
                                                <h3 class="card-title">Back</h3>
                                                <p class="card-text">Suprise this one has more more more more content on the back!</p>
                                                <a href="#" class="btn btn-outline-secondary">Action</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <br>
                                <div class="col-sm-4 my-3">
                                    <div class="card card-flip h-100">
                                        <div class="card-front text-white bg-success">
                                            <div class="card-body">
                                                <i class="fa fa-search fa-5x float-right"></i>
                                                <h3 class="card-title">Front</h3>
                                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            </div>
                                        </div>
                                        <div class="card-back bg-white">
                                            <div class="card-body">
                                                <h3 class="card-title">Back</h3>
                                                <p class="card-text">Suprise this one has more more more more content on the back!</p>
                                                <a href="#" class="btn btn-outline-secondary">Action</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



 </div>
</div>



<footer class="footer-distributed">
 
		<div class="footer-left">
 
		<h3>WilPal<span>Logistics</span></h3>
 
		<p class="footer-links">
		<a href="#">Home</a>

		<a href="#">Pricing</a>

		<a href="#">About</a>

		<a href="#">Contact</a>
		</p>
 
		<p class="footer-company-name">wilpal logistics &copy; 2020</p>
		</div>
 
		<div class="footer-center">
 
		<div>
		<i class="fa fa-map-marker"></i>
		<!-- <p><span>21 Revolution Street</span> Delhi, India</p> -->
		</div>
 
		<div>
            <i class="fa fa-phone"></i>
            <p>+254 772 561415</p>
          </div>
 
		<div>
		<i class="fa fa-envelope"></i>
		<p><a href="mailto:support@company.com">info@wilpalinternationalogistics.com</a></p>
		</div>
 
		</div>
 
		<div class="footer-right">
 
		<p class="footer-company-about">
        <span>About the company</span>
        wilpal logistics is a company involved in shipping aal sorts of goods.
		</p>
 
		<div class="footer-icons">
 
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-youtube"></a>
        
 
		</div>
 
		</div>
 
		</footer>
        </body>


        <style>
        body{

                background-image: url(https://p1.pxfuel.com/preview/226/481/200/container-ship-sky-clouds.jpg);
                background-repeat: no-repeat;
                background-size: 1750px 600px;
        }
        h1{
                font-size: 59px;
                color:rgb(32,32,32); 
                font-weight: 400;              
        }
        .note{
                background-color: white;
                /* background-size:1750px 800px; */
                       }
.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgb(32,32,32);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: rgb(32,32,32)}

.button:active {
  background-color: rgb(32,32,32);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.card-flip > div {
  backface-visibility: hidden;
  transition: transform 300ms;
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
}

.card-flip:hover .card-front {
  transform: rotateY(-180deg);
}
  
.card-flip:hover .card-back {
  transform: rotateY(0deg);
}
/* /////////////////////////////////////////////////////////////////////// */
footer{
	position: static;
	bottom: 0;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
}

.footer-icons{
    color: white;
}
        </style>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">

$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});

</script>
{% endblock %}

