{% extends 'base.html' %}
{% load static %}
{% block content  %}
	<!-- Hero unit -->



	<div class="hero">
		<div class="hero__overlay hero__overlay--gradient"></div>
		<div class="hero__mask"></div>
		<div class="hero__inner">
			<div class="container">
				<div class="hero__content">
					<div class="hero__content__inner text-center" id='navConverter'>
						<h1 class="hero__title">WilPal international Logistics</h1>
						<p class="steps">We have you covered for all transportation and shipping needs</p>
						<a href="#offer" class="button hero__button scroll">Learn more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hero__sub">
		<span id="scrollToNext" class="scroll">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class='hero__sub__down' fill="currentColor" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path d="M256,298.3L256,298.3L256,298.3l174.2-167.2c4.3-4.2,11.4-4.1,15.8,0.2l30.6,29.9c4.4,4.3,4.5,11.3,0.2,15.5L264.1,380.9c-2.2,2.2-5.2,3.2-8.1,3c-3,0.1-5.9-0.9-8.1-3L35.2,176.7c-4.3-4.2-4.2-11.2,0.2-15.5L66,131.3c4.4-4.3,11.5-4.4,15.8-0.2L256,298.3z"/></svg>
		</span>
	</div>
	<!-- Steps -->
	<div class="steps landing__section" id="offer">
		<!-- <div class="container"> -->
			<h2>welcome to wilpal International logisstics</h2>
			<!-- <p>A bunch of services we can help you with.</p> -->
		<!-- </div> -->
	<!-- <div class="container"> -->
	
	<!-- Expanded sections -->
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="https://images.unsplash.com/photo-1541524628935-fabc748e27db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">why choose us</h2>
					<p class="expanded__text">
						We pride ourselves on understanding our customers’ freight forwarding/logistic and shipping <br>
						needs and providing a bespoke service to meet your requirements. Whether you require <br>
						occasional support or fully resourced solutions, we can deliver a package that suits your need and budget.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="https://www.standardmedia.co.ke/images/tuesday/mnkfrwdqtanqdinu5d6588799d984.jpg" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Our Ratings.</h2>
					<p class="expanded__text"> Over the period we have worked globally we have been rated the best due to our local and
						international services </p>
				</div>
			</div>
		</div>
	</div>
</div>

	<!-- Footer -->
	<div class="footer footer--dark">
			<div class="container">
				<div class="footer__inner">
					<a href="index.html" class="footer__textLogo">WilPal International Logistics</a>
					<div class="footer__data">
						<div class="footer__data__item">
							<div class="footer__row">
								Email &nbsp;&nbsp;&nbsp;<a href="mailto://info@wilpalinternationalogistics.comm" target="_blank" class="footer__link">info@wilpalinternationalogistics.com</a>
							</div>
							<div class="footer__row">
							Phone &nbsp;&nbsp;&nbsp; <a href="tel://+254 772 561415" target="_blank" class="footer__link">+254 772 561415</a>
							</div>
						</div>
						<div class="footer__data__item">
							<div class="footer__row">Wilpal Logistics is a company involved in <br> shipping all sorts of goods. Give us a try today!
							</div>
						</div>
						<div class="footer__data__item">
							<div class="footer__row">
								<a href="#" target="_blank" class="footer__link">LinkedIn</a>
							</div>
							<div class="footer__row">
								<a href="#" target="_blank" class="footer__link">Twitter</a>
							</div>
							<div class="footer__row">
								<a href="#" target="_blank" class="footer__link">Facebook</a>
							</div>
							<div class="footer__row">
								<a href="#" class="footer__link">Instagram</a>
							</div>
						</div>
				</div>
			</div>
		</div>
		</div>

<style>
.hero{
	background-image: url('https://images.unsplash.com/photo-1541524628935-fabc748e27db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
	
}

img{
	/* border: 1px solid #ddd; */
  border-radius: 4px;
  /* padding: 5px; */
  width: 290px;
  height: 370px;
}





</style>



{% endblock %}

